<div class="album py-5 bg-light">
  <div class="containerbody row justify-content-center">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text"><%= product.description %><</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Show', product, class: "btn btn-primary" %>
                  <%= link_to 'Edit', edit_product_path(product),class: "btn btn-secondary" %>
                </div>
              </div>
          </div>
        </div>
      </div>

  </div>
  <% end %> 
</div> 
