  <footer class="footer">
  	 <div class="containerfooter">
  	 	<div class="row1">
  	 		<div class="footer-col">
  	 			<h4>THP</h4>
  	 			<ul>
  	 				<li><a href="#">Semaine 8</a></li>
  	 				<li><a href="#">Jour 2</a></li>
  	 				<li><a href="#">Ma copine m'a quitté</a></li>
  	 				<li><a href="#">Et je sais toujours pas coder</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Besoin d'aide?</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">Et si </a></li>
  	 				<li><a href="#">Tu trouves pas</a></li>
  	 				<li><a href="#">Dans la FAQ</a></li>
  	 				<li><a href="#">Demmerde-toi</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Team</h4>
  	 			<ul>
  	 				<li><a href="#">Damian PIERRE-LOUIS</a></li>
  	 				<li><a href="#">Lois Kouninef</a></li>
  	 				<li><a href="#">Samuel Khalifa</a></li>
  	 				<li><a href="#">Enzo Bonnet</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>
